<h1>Home page</h1>
<a asp-controller="Admin" asp-action="Index">Go to Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Go to Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Go to Manager</a>

<div>
    <p>isAuthrnticate : @ViewBag.Auth</p>
    <p>UserName : @ViewBag.Name </p>

</div>