
@model LoginViewModel
<h1>Login</h1>

<a asp-controller="Home" asp-action="Index">Home</a>
<div asp-validation-summary=All></div>
<form asp-controller="Admin" asp-action="Login" method="post">
   <input hidden asp-for=ReturnUrl />

    <div>
        <label>Login</label>
        <input  asp-for=Login />
        <span asp-validation-for=Login class=text-danger></span>
    </div>
     <div>
        <label>Password</label>
        <input  asp-for=Password />
        <span asp-validation-for=Password class="text-danger"></span>
    </div>

    <p>
        <button type="submit">Log in</button>
    </p>
</form>